@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --BackgroundColor: rgb(18, 18, 18);
  --BackgroundColorShadow: rgb(5, 5, 5);
  --mobileNavButton: #ffffff;
  --primaryBorder: #474747;
  --skeletonColor: #1e1e1e;
  --maxPageWidth: 1400px;
}

/* Scroll Bar */

::-webkit-scrollbar {
  /* for Chrome, Safari, and Opera */
  background: rgb(18, 18, 18, 1);
}

::-webkit-scrollbar-thumb {
  /* for Chrome, Safari, and Opera */
  background: rgb(50, 50, 50, 1);
}

html {
  scrollbar-width: auto; /* for Firefox */
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@layer utilities {
  .highlights-none {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .netflixTransiiton {
    transition: transform 0.5s ease 0s;
    -webkit-transform: 0.5s ease 0s;
    -moz-transform: 0.5s ease 0s;
    -o-transform: 0.5s ease 0s;
  }
}

@layer components {
  .carouselButton {
    @apply absolute bottom-0 z-10 flex transform cursor-pointer select-none items-center bg-almostBlack bg-opacity-0 p-[5px] backdrop-filter transition duration-200 hover:scale-110 sm:bottom-45% sm:rounded-full sm:bg-opacity-50 sm:p-4 sm:backdrop-blur sm:hover:bg-opacity-80 lg:border lg:border-borderPrimary;
  }
  .listWidth {
    @apply w-[33.33%] sm:w-[25%] hover:sm:w-[50%] md:w-[20%] hover:md:w-[40%] lg:w-[16.67%] hover:lg:w-[33.34%] xl:w-[14.29%] hover:xl:w-[28.57%] 3xl:w-[12.5%] hover:3xl:w-[25%];
  }
  .listHeight {
    @apply h-[calc((100vw-24px-(4px*6))/3*1.5)] sm:h-[calc((86vw-(6px*9))/4*1.5)] md:h-[calc((90vw-(6px*11))/5*1.5)] lg:h-[calc(((90vw-(6px*13))/6)*1.5)] xl:h-[calc((90vw-6px*15)/7*1.5)] 3xl:h-[calc((90vw-0.75rem*17)/8*1.5)];
  }
}

.item-cover{
  opacity: 0;
}

@screen sm {
  .track:hover {
    transition: transform 500ms 200ms;
  }
  .track,
  .list:hover .track {
    transition: transform 500ms 200ms;
  }
  .item,
  .item:hover {
    will-change: transform, opacity;
    transition: width 500ms 200ms;
  }
  .item-cover,
  .item:hover .item-poster {
    opacity: 0;
    transition: opacity 500ms 200ms;
  }
  .item-poster,
  .item:hover .item-cover {
    opacity: 1;
    transition: opacity 500ms 200ms;
  }
}

/*
@screen lg {
  .list li {
    transition-duration: 300ms;
  }

  .list:hover li {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
    transition-duration: 300ms;
  }

  .list:hover li:hover {
    transition-duration: 300ms;
  }

  .list:hover li:hover ~ li {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    transition-duration: 300ms;
  }
}
@apply w-[33.33%] sm:w-[25%] hover:sm:w-[37.5%] md:w-[20%] hover:md:w-[30%] lg:w-[16.66%] hover:lg:w-[25%] xl:w-[14.29%] hover:xl:w-[21.435%] 3xl:w-[12.5%] hover:3xl:w-[18.75%];
*/

/*
@screen lg {
  .track:hover {
    @apply transform md:-translate-x-[5%] lg:-translate-x-[4%] 3xl:-translate-x-[3%];
    transition: transform 500ms 200ms;
  }
  .track,
  .list:hover .track {
    transition: transform 500ms 200ms;
  }
  .item,
  .item:hover {
    will-change: transform, opacity;
    transition: width 500ms 200ms;
  }
  .item-cover,
  .item:hover .item-poster {
    opacity: 0;
    transition: opacity 500ms 200ms;
  }
  .item-poster,
  .item:hover .item-cover {
    opacity: 1;
    transition: opacity 500ms 200ms;
  }
}*/
