@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	/* for Chrome, Safari, and Opera */
	background: transparent;
}

::-webkit-scrollbar-thumb {
	/* for Chrome, Safari, and Opera */
	background: rgb(29, 78, 216, 0.4);
}

html {
	scrollbar-width: auto; /* for Firefox */
}
