@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--maxPageWidth: 1400px;
}

/* Scroll Bar */

::-webkit-scrollbar {
	/* for Chrome, Safari, and Opera */
	background: rgba(17, 17, 17, 0.726);
}

::-webkit-scrollbar-thumb {
	/* for Chrome, Safari, and Opera */
	background: rgb(29, 78, 216, 0.4);
}

html {
	scrollbar-width: auto; /* for Firefox */
}
